body {
    margin: 0;
    padding: 0;
}
.cv {
    /* display: flex;
    flex-direction: column; */
     color: aliceblue;
    /* background-color: #3E517A;  */
   
}

.cv > h1{
    text-align: center;
    background-color: #3E517A;
}

.cv-Info { 
    color: aliceblue;
    background-color: #3E517A;
}

.cvSubmit {
    /* min-width: 300px; */
    width: 600px;
    /* border: 2px solid rgb(27, 27, 116); */
    padding: 10px 20px;
    height: fit-content;
    background-color: midnightblue;
    color: aliceblue;
}

.cvSubmit a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: aqua;
}

@media(max-width: 480px) {
    .cv {
        flex-direction: column;
    }
  
    .cvSubmit{
        max-width: 380px;
        margin: 0;
    }
  
   .cv-Info{
    border-radius: 5px;
    border: none;
   }
  
    .experience, .practical, .General-info {
      width: 370px;
    }
  }