.experience{
    display: flex;
    flex-direction: column;
    border: 2px solid violet;
    margin: 10px 0;
    padding: 10px;
}

.experience h1, .practical h1{
    text-align: center;
}

.experience label,  .practical label{
    display: flex;
    flex-direction: column;
    gap: 4px;
} 


.experience input, .practical input{
    min-width: 230px;
    padding: 8px 2px;
    width: 320px;
    border: 2px solid grey;
    border-radius: 10px;
}

.date{
    display: flex;
    flex-direction: column;
    min-width: 160px;
}

.experience button, .practical button{
    width: 100px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    margin: 0 120px;
    border: none;
    padding: 4px 6px;
    background-color: midnightblue;
    color: aliceblue;
}

.practical{
    border: 2px solid green;
    padding: 10px;
}
